<%- model_class = RegistryType -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => RegistryType %></h1>
</div>
<%= render :partial => 'form' %>

